body {
    background: linear-gradient(to bottom right, magenta, cyan);
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: center;
  }
  
  .spinner{
    height: 25px;
    width: 25px;
    border: 6px solid;
    border-color: white transparent white transparent;
    border-radius: 50%;
    animation: spin 1.3s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  