<div class="left-height relative bg-black">
    <div class="w-screen">
        <iframe
        class="w-screen aspect-video"
            [src]="videoUrl"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share">
        </iframe>
    </div>
    
    <div class="h-full w-screen aspect-video absolute top-0 py-[8%] px-8 md:py-[18%] md:px-20 text-white bg-gradient-to-r from-black">
        <h1 class="text-[6vw] font-bold  md:text-4xl">{{bannerTitle}}</h1>
        <p class="py-4 text-[3vw] w-[100%] md:text-base md:w-[30%] md:py-6">{{bannerOverview | overview:130}}</p>
        <button class="px-3 py-1 text-[3vw] md:px-10 md:py-2 md:text-base bg-white font-bold text-black rounded-lg hover:bg-opacity-[70%]"><i
                class="ri-play-mini-fill"></i>Play</button>
        <button class="px-3 py-1 text-[3vw] md:px-10 md:py-2 md:text-base mx-2 rounded-lg bg-gray-700 text-white bg-opacity-60 hover:bg-opacity-[40%]">More
            Info</button>
    </div>
</div>