<app-header></app-header>
<app-banner [bannerTitle]="(bannerDetails$ | async)?.original_title"
    [bannerOverview]="(bannerDetails$ | async)?.overview" [key]="trailerKey"></app-banner>
<app-carousel [carouselTitle]="'Popular Movies'" [movies]="popularMovies"></app-carousel>
<app-carousel [carouselTitle]="'Top Rated Movies'" [movies]="topRatedMovies"></app-carousel>
<app-carousel [carouselTitle]="'Now Playing Movies'" [movies]="nowPlayingMovies"></app-carousel>
<app-carousel [carouselTitle]="'Upcoming Movies'" [movies]="upcomingMovies"></app-carousel>
<app-carousel [carouselTitle]="'All Movies'" [movies]="movies"></app-carousel>
<app-carousel [carouselTitle]="'Tv Shows'" [movies]="tvShows"></app-carousel>